<section id="about-me" class="about-me">
  <div class="inner">
    <article>
      <h1>About Me</h1>
      <figure>
        <img src="/assets/img/photo/chris-powers.png" alt="Chris Powers">
      </figure>
      <div class="text">
        <p>Chris Powers has been leading software development teams for the last twelve years, and he loves sharing his passion for building teams and software with audiences nationwide. As a Clean Coders author, Chris is producing an educational video series entitled "Clean Code in the Browser". Chris is a Director of Engineering at <a href="https://sproutsocial.com" target="_blank">Sprout Social</a> and lives in the northern Chicago suburbs with his wife and two children. In his free time he enjoys drumming and tabletop gaming.</p>
        <h2>Contact Info</h2>
        <p><strong>Email:</strong> <a href="mailto:chrisjpowers@gmail.com">chrisjpowers@gmail.com</a></p>
        <p><strong>Twitter:</strong> <a href="https://twitter.com/chrisjpowers" target="_blank">@chrisjpowers</a></p>
      </div>
    </article>
    <aside>
      <div class="text">
        <h3>Work With Me</h3>
        <p>Sprout Social is <strong>the best</strong> place to work in Chicago tech, period. Passionate people plus a product our customers love makes for a wonderful experience. Come join me!</p>
      </div>
      <a class="button" href="https://sproutsocial.com/careers/open-positions" target="_blank">Jobs at Sprout Social</a>
    </aside>
  </div>
</section>
<footer class="site-footer">
  <div class="inner">
    <div class="social-links">
      <h6>Connect with me</h6>
      <ul>
        <li>
          <a href="https://twitter.com/chrisjpowers" target="_blank">
            <svg viewBox="0 0 30 30"><use xlink:href="#twitter-icon"></use></svg>
          </a>
        </li>
        <li>
          <a href="https://github.com/chrisjpowers" target="_blank">
            <svg viewBox="0 0 30 30"><use xlink:href="#github-icon"></use></svg>
          </a>
        </li>
        <li>
          <a href="mailto:chrisjpowers@gmail.com">
            <svg viewBox="0 0 30 30"><use xlink:href="#email-icon"></use></svg>
          </a>
        </li>
      </ul>
    </div>
    <p class="copyright">All content &copy; Chris Powers, 2017</p>
  </div>
</footer>
