<header class="site-header">
  <div class="inner">
    <nav>
      <a href="/blog/categories/talk">Talks</a>
      <!-- <a href="/blog/categories/article">Blog</a> -->
      <!-- <a href="/#open-source">Open Source</a> -->
      <a href="/#about-me">About Me</a>
    </nav>
    <div class="nav-toggle">
      <svg viewBox="0 0 30 30">
        <use xlink:href="#nav-icon"></use>
      </svg>
    </div>
    <h1>
      <a href="/">
        <span class="logo-mark">
          <svg viewBox="0 0 30 30">
            <use xlink:href="#logo"></use>
          </svg>
        </span>
        <span class="logo-type">Chris Powers</span>
      </a>
    </h1>
  </div>
</header>
